
<div  class="conatiner-titulo">
<h1>Lista de tarefas</h1>
  <button (click)="abrirModalParaCadastro()"
          class="new-button">
    Nova Tarefa +
  </button>
</div>

<div class="conatiner-lista">
  <div *ngFor="let item of listaDeTarefas" class="lista">

    <item-lista
      [descricao]="item.descricao"
      [concluido]="item.concluido"
    />

    <div class="container-botoes">
      <button (click)="abrirModalEdicao(item)"
              class="edit-button">
        Editar
      </button>
      <button (click)="removerTarefaPorId(item.id)"
              class="remove-button">
        Remover
      </button>
    </div>

  </div>
</div>


<app-modal-cadastro *ngIf="mostrarModalEdicao"
                    [tarefa]="tarefaParaEditar"
                    (fecharModal)="fecharModalEdicao()"></app-modal-cadastro>
